body {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 15px;
    padding: 0 20vw;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header > h1 {
    #letter-spacing: 2px;
}

nav > a {
    padding-left: 20px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

h2 {
    font-weight: normal;
    margin-top: 40px;
}

table td {
    padding-right: 20px;
}

table.bold-column-2 tr td:nth-child(2) {
    font-weight: bold;
}
