html {
  font-variant-ligatures: none;
}

body {
  background-color: black;
  margin: 0px;
}

.font {
  font-family: courier, monospace;
  font-size: 15px;
}

#term {
  left: calc(50% - 904px / 2) !important;
  top: 50px !important;
  margin-left: auto;
  position: absolute;
}

a span {
  color: #0bc0bc !important;
}
